-server
-Xmx<jvm_memory>G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+ExitOnOutOfMemoryError
-Djavax.security.auth.useSubjectCredsOnly=false
-Dsun.security.krb5.debug=true
-agentlib:jdwp=transport=dt_socket,address=33333,suspend=n,server=y
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.ssl=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.port=1098